# Arquivos que não precisam serem adicionados
.idea/
__pycache__/
.vscode/
venv/
/PycharmProjects/estudandopython/Exercicios_curso_em_video/__pycache__/
/PycharmProjects/estudandopython/Exercicios_curso_em_video/.vscode/